$color-primary: #000000;
$color-primary-light: #263238;
$color-secondary: #8F95A5;
$color-secondary-light: #F9F9F9;
$color-bg: #ffffff;

$color-yellow: #FDE500;
$color-orange: #FE941B;
$color-green: #4FCB64;
$color-blue: #15C9FE;
$color-pink: #FE95D0;
$color-magenta: #CC62A5;
$color-dark-blue: #2C73A8;
$color-red: #FF6179;