@import '../../sass-components/variables';
@import '../../sass-components/mixins';

.footer{
    border-top: 1px solid $color-secondary;
    max-width: 1900px;
    padding: 10px 0;

    &-git {
      display: flex;
      gap: 10px;
    }

    &-content {
        @include flex-columns;
        padding: 0 40px;
        align-items: flex-end;
    }
    &-links{
        display: inline-block;
        padding-left: 10px;

        &__link{
            text-decoration: none;
            color: $color-primary;
            font-size: 16px;
            line-height: 24px;
            &:hover{
                color: $color-secondary;
            }
        }
    }
    &-logo{
        text-align: center;
        &__logo{
            width: 150px;
            height: 35px; 
        }
        &__copyright{
            margin: 5px 0;
        }
    }
    &-rs__link_logo{
        @include bgImage($url: url('../../../public/assets/svg/rs-logo.svg'), $width: 170px, $height: 62px);
    }
    
}