@import '../../sass-components/normalize';
@import '../../sass-components/variables';
@import '../../sass-components/mixins';

.audio-game,
.audio-game-play{
    min-height: 750px;
    height: calc(100vh - 170px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
    .audio-game{
    &__logo{
        margin: 0 auto;
        @include bgImage($url: url('../../../public/assets/svg/audio-game.svg'), $width: 270px, $height: 168px);
    }
    &__text{
        font-size: 14px;
        line-height: 21px;
        color: $color-secondary;
        margin: 30px 0;
    }
    &__title{
        font-size: 14px;
        line-height: 21px;
    }
    &-group{
        margin: 30px 0;
    }
    &__btn{
        border: 1px solid $color-secondary;
        margin: 0 5px;
        width: 45px;
        color: $color-secondary;
    }

    &__btn-first:hover,
    &__btn-first_active {
        background-color: $color-yellow;
        border: 1px solid $color-yellow;
        color: $color-bg;
    }  

    &__btn-first[disabled]{
      @include disabledGameBtn;
    }

    &__btn-first_active[disabled] {
      background-color: $color-yellow;
      border: 1px solid $color-yellow;
      color: $color-bg;
        &:hover {
        background-color: $color-yellow;
        border: 1px solid $color-yellow;
        color: $color-bg;
        }
    }

    &__btn-second:hover,
    &__btn-second_active {
        background-color: $color-orange;
        border: 1px solid $color-orange;
        color: $color-bg;
    }
   
    &__btn-second[disabled]{
      @include disabledGameBtn;
    }

    &__btn-second_active[disabled] {
      background-color: $color-orange;
      border: 1px solid $color-orange;
      color: $color-bg;
        &:hover {
        background-color: $color-orange;
        border: 1px solid $color-orange;
        color: $color-bg;
        }
    }

    &__btn-third:hover,
    &__btn-third_active {
        background-color: $color-green;
        border: 1px solid $color-green;
        color: $color-bg;        
    }

    &__btn-third[disabled]{
      @include disabledGameBtn;
    }

    &__btn-third_active[disabled] {
      background-color: $color-green;
      border: 1px solid $color-green;
      color: $color-bg;
        &:hover {
        background-color: $color-green;
        border: 1px solid $color-green;
        color: $color-bg;
        }
    }

    &__btn-four:hover,
    &__btn-four_active {
        background-color: $color-blue;
        border: 1px solid $color-blue;
        color: $color-bg;
    }

    &__btn-four[disabled]{
      @include disabledGameBtn;
    }

    &__btn-four_active[disabled] {
      background-color: $color-blue;
      border: 1px solid $color-blue;
      color: $color-bg;
        &:hover {
        background-color: $color-blue;
        border: 1px solid $color-blue;
        color: $color-bg;
        }
    }

    &__btn-five:hover,
    &__btn-five_active {
        background-color: $color-pink;
        border: 1px solid $color-pink;
        color: $color-bg;
    }

    &__btn-five[disabled]{
      @include disabledGameBtn;
    }

    &__btn-five_active[disabled] {
      background-color: $color-pink;
      border: 1px solid $color-pink;
      color: $color-bg;
        &:hover {
        background-color: $color-pink;
        border: 1px solid $color-pink;
        color: $color-bg;
        }
    }

    &__btn-six:hover,
    &__btn-six_active {
        background-color: $color-magenta;
        border: 1px solid $color-magenta;
        color: $color-bg;
    }

    &__btn-six[disabled]{
      @include disabledGameBtn;
    }

    &__btn-six_active[disabled] {
      background-color: $color-magenta;
      border: 1px solid $color-magenta;
      color: $color-bg;
        &:hover {
        background-color: $color-magenta;
        border: 1px solid $color-magenta;
        color: $color-bg;
        }
    }

    &__start{
        width: 100px;
        margin: 10px 0;
        color: $color-bg;
        background-color: $color-green;
        &[disabled]{
            background-color: $color-secondary;
            // color: $color-primary;
            &:active {
                transform: translateY(0);
            }
            &:hover{
                background-color: $color-secondary;
                // color: $color-primary;
            }
        }
    }
}
.audio-game-play{
    gap: 20px;
    &__btn_audio {
        background-color: transparent;
        border: none;
    }
    &__play-img {
        width: 82px;
        height: 60px;
        filter: invert(59%) sepia(7%) saturate(596%) hue-rotate(186deg) brightness(99%) contrast(89%);
        &:hover {
            filter: invert(38%) sepia(28%) saturate(919%) hue-rotate(79deg) brightness(105%) contrast(88%);
        }
    }
    &-options-block{
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;
    }
    &__option{
        padding: 0 20px ;
        &_0:hover{
            background-color: $color-orange;
        }
        &_1:hover{
            background-color: $color-green;
        }
        &_2:hover{
            background-color: $color-blue;
        }
        &_3:hover{
            background-color: $color-magenta;
        }
    }
    &__btn{
        width: 100px;
        background-color: $color-secondary-light;
        &:hover{
            background-color: $color-green;
        }
    }
    &__image{
        width: 382px;
        height: 250px;
        border-radius: 15px;
    }
}
.correct{
    border: $color-green 2px solid;
}
.wrong{
    border: $color-red 2px solid;
}
 .statistic-data {
     box-sizing: border-box;
     display: flex;
     flex-direction: column;
     padding: 20px 60px;
     width: 500px;
     height: 500px;
     border: solid 1px $color-secondary;
     border-radius: 3px;
     overflow-y: auto;

     &__score {
         font-size: 36px;
         color: $color-blue;
     }

     h2 {
         align-self: center;
         margin-bottom: 40px;
     }

     &__title {
         display: flex;
         align-items: center;
         gap: 20px;
         margin: 10px 0;
     }

     &__title-text {
         color: $color-primary-light;
         font-size: 24px;
         margin: 0;
     }

     &__wrong {
         display: flex;
         align-items: center;
         box-sizing: border-box;
         width: auto;
         height: 30px;
         padding: 0 20px;
         background-color: $color-red;
         color: white;
         border-radius: 3px;
     }

     &__coorect {
         display: flex;
         align-items: center;
         box-sizing: border-box;
         width: auto;
         height: 30px;
         padding: 0 20px;
         background-color: $color-green;
         color: white;
         border-radius: 3px;
     }

     &__line {
         border-bottom: solid 1px $color-secondary;
         margin: 20px 0;
     }
 }
.audio-game-res{
 &__buttons {
     margin: 40px 0;
     display: flex;
     gap: 20px;
    justify-content: center;
     .btn-dictionary {
         background-color: $color-secondary;
         width: 200px;

         &:hover {
             background-color: $color-orange;
         }
     }

     .btn-repeat {
         background-color: $color-secondary;
         width: 200px;

         &:hover {
             background-color: $color-green;
         }
     }

 }
}
 